amqp==2.3.2
billiard==3.5.0.4
braintree==3.49.0
cairocffi==1.1.0
CairoSVG==2.4.2
celery==4.2.1
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
cssselect2==0.2.1
defusedxml==0.5.0
Django==2.2.8
django-localflavor==2.1
django-parler==1.9.2
django-rosetta==0.9.0
django-weasyprint==0.5.4
html5lib==1.0.1
idna==2.7
kombu==4.2.1
Pillow==8.1.1
polib==1.1.0
pycairo==1.18.1
pycparser==2.19
Pyphen==0.9.5
pytz==2018.7
redis==3.0.1
requests==2.22.0
six==1.11.0
sqlparse==0.3.0
tinycss2==1.0.2
urllib3==1.25.6
vine==1.1.4
WeasyPrint==50
webencodings==0.5.1
