braintree
cairocffi
CairoSVG
celery
cssselect2
defusedxml
Django==3.2.*
django-localflavor
django-parler
django-rosetta
django-weasyprint
html5lib
Pillow
polib
pycparser
Pyphen
pytz
redis
requests
tinycss2
WeasyPrint
webencodings
