braintree
cairocffi
CairoSVG
celery[redis]>=5.3,<5.4
cssselect2
defusedxml
Django>=4.2,<4.3
django-localflavor
django-parler
django-rosetta
django-weasyprint
html5lib
Pillow
polib
pycparser
Pyphen
pytz
redis
requests
tinycss2
WeasyPrint
webencodings
